* {
    margin: 0x;
    padding: 0px;}

body {
    background: #f4f2ec;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}


/* Formantado topo */

main {
    margin: 0 auto;

}

#h1-topo {
    text-indent: -5000px;
    display: block;
}

#imagem-logo {
    display: block;
    margin-top: -30px;

}

h1 img {
    margin-left: 140px;
}

header {
    background: #24241A;
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    margin-top: -15px;
    margin-right: 125px;
}

header li a {
    text-decoration: none;
    color: #af670a;
    padding: 6px 15px;
}

header li a:hover {
    background: #fff;
    font-weight: bolder;
}


/* Formantado da área de postagens */
#area-conteudos {
    width: 1080px;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
}


/* Formantado dos conteúdos */
#conteudos {
    width: 710px;
    margin-right: 20px;
}

#imagem-museu {
    margin-bottom: 20px;
}

#postagens {
    height: 460px;
    display: flex;
    
}

#coluna-1 {
    width: 345px;
    margin-right: 20px;
}

.post-coluna-1 {
    margin-left: 25px;
}

#coluna-1 li a {
    text-decoration: none;
    font-size: 12px;
    color: #86521a;
}
#coluna-1 li a:hover {
    font-weight: bolder;
}

#coluna-1 ul {
    margin-left: 30px;
}


#coluna-2 {
    width: 345px;
}


.post-coluna-2 {
    margin-left: 25px;
}




#postagens h3 {
    color: #86521a;
}

#post-coluna-2 a {
    text-decoration: none;
    font-size: 12px;
    color: #86521a;
    
}

#post-coluna-2 a:hover {
    text-decoration: underline;
    font-weight: bolder;
}











/* Formantado Lateral */

aside {
    width: 350px;
}

#depoimento {
    margin-bottom: 10px;
}

#visita-data {
    background: #CDC8B1;
    height: 160px;
}

#visita-data h4 {
    color: #86521a;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 15px;
}
.label-data {
    margin-left: 17px;
}
.input-data {
    width: 120px;
}

.input-verificar {
    display: block;
    margin: 15px 60px;
    cursor: pointer;
    background: #77775D;
    border: 0px solid;
    font-size: 17px;
    font-weight: bolder;
    color: white;
    width: 230px;
    height: 40px;
}

#galeria {
    background: #E3DDC4;
    height: 300px;
}

#galeria h4 {
    color: #86521a;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 15px;
    margin-top: 0px;
}


#imagens-linha1, #imagens-linha2 {
    display: flex;
    justify-content: center;
    
}

#imagens-linha1 img, #imagens-linha2 img{
    width: 93px;
    height: 93px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 4px solid #24241A;
 
}

/* Formantado rodapé */

footer {
    width: 1080px;
    margin: 0 auto;
}

footer img {
    margin-left: 230px;

}

footer ul {
    list-style-type: none;
    display: flex;
    margin-left: 237px;
}

footer a {
    text-decoration: none;
    font-size: 14px;
    color: #af670a;
    padding: 10px 15px;
}

footer a:hover {
    font-weight: bolder;
}

footer h5 {
    margin-left: 400px;
}